body, html {
  width: 100%;
  height: 100%;
}

:root {
  --primary: #6ECEA4;
}

#root {
  min-height: 100%;
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Satoshi-Light.woff') format('woff');
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Satoshi-Bold.woff') format('woff');
}

* {
  font-family: 'Satoshi';
}